.phone{
    transform: rotate(0);
    transition: 0.5s;
    width: 80%;
}

.phone:hover{
    transform: rotate(15deg);
}

.left{
    width: 50%;
    float: left;
}

.right{
    width: 50%;
    float: right
}

.about-text{
    font-size: 22.4px !important;
    font-weight: 400;
}

@media only screen and (max-width: 600px){
    .phone{
        display: none;
    }
    .right{
        width: 100%;
        float: unset;
    }
}